.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px 100px 100px;
  margin: 0px 200px 0px 200px;
}

h1 {
  color: yellow;
}

p {
  margin-bottom: 2.5em;
  color: gray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
