* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #a78d73;
}

.barranav {
  display: inline-block;
  justify-content: center;
}

.conteudo {
  display: inline-block;
  justify-content: center;
}
